fastapi
uvicorn
openai
langchain
langgraph
pydantic
python-dotenv
sqlalchemy
aiohttp
Pillow
torch
transformers
pytest
pytest-asyncio
beautifulsoup4
requests
fake-useragent
pandas 
google-generativeai
firebase-admin
mcp
langchain-mcp-adapters
typing_extensions
langchain-google-genai
duckduckgo-search
playwright
nest-asyncio
lxml
duckdb